* {
  font-family: 'Fira Code';
}
html,
body {
  width: 100%;
  max-width: 100%;
  zoom: initial !important;
  margin: 0;
}
body {
  background-color: #2c2a2a;
  color: #fff;
}
.dashboard {
  padding: 10px;
  width: calc(100% - 20px);
}
@media screen and (max-width: 1000px) {
  .dashboard {
    font-size: 175%;
  }
}
.center {
  text-align: center;
}
button {
  opacity: 0.9;
  cursor: pointer;
}
button:hover {
  opacity: 1;
}
ul {
  list-style-type: none;
}
.at-form {
  zoom: 150%;
}
.at-form label {
  display: none;
}
.at-form input {
  zoom: 200%;
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  width: 100%;
}
.at-form input:focus {
  background-color: #2d2b2b;
}
.at-form button {
  margin-top: 15px;
  font-size: 1em;
  padding: 0.5em 2em;
  border: none;
  background-color: #228B22;
  color: #fff;
  width: 100%;
}
.grid {
  display: grid;
}
.console-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "logout"
    "user-info"
    "sync"
    "total"
    "invested"
    "return"
    "performance"
    "granularity-minute"
    "granularity-hour"
    "granularity-day"
    "performance-chart"
    "allocation"
    "history";
  grid-gap: 10px;
  grid-row-gap: 20px;
  justify-content: stretch;
  align-items: stretch;
}
select {
  background-color: #3c3a3a;
  border: none;
  outline: none;
  color: #fff;
  width: 5em;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") !important;
  font-size: 1.4em;
  padding: 5px !important;
}
option {
  font-size: 0.5em;
}
.grid {
  display: grid;
}
.console-grid > div {
  overflow: hidden;
  border-radius: 5px;
}
.card-box {
  padding-top: 2em;
  padding-bottom: 2em;
  display: grid;
  border-radius: 5px;
  background-color: #3c3a3a;
  position: relative;
  overflow: hidden;
}
.card-box > * {
  margin: auto;
}
.card-box.transparent {
  background-color: transparent;
}
.card-box-small-content {
  width: 80%;
}
.card-box-small-content > span {
  padding-left: 5px;
}
.card-box-small-content.wide {
  width: 100%;
}
.card-box-title {
  color: #aaa;
  font-family: 'Fira Code Light';
}
.card-box-content {
  font-size: 2em;
  color: #fff;
  font-family: 'Fira Code Bold';
}
.card-box-inner {
  padding: 1em;
  width: calc(100% - 2em);
}
.total {
  grid-area: total;
}
.invested {
  grid-area: invested;
}
.return {
  grid-area: return;
}
.performance {
  grid-area: performance;
}
.allocation {
  grid-area: allocation;
  min-height: 300px;
}
.history {
  grid-area: history;
  min-height: 300px;
  padding-right: 20px;
}
.performance-chart {
  grid-area: performance-chart;
  min-height: 300px;
  padding-right: 20px;
}
.user-info {
  grid-area: user-info;
  text-align: center;
  padding: 0.5em;
}
.logout {
  grid-area: logout;
}
.granularity.minute {
  margin-top: 0.5em;
  grid-area: granularity-minute;
}
.granularity.hour {
  grid-area: granularity-hour;
}
.granularity.day {
  grid-area: granularity-day;
  margin-bottom: 0.5em;
}
.granularity-button {
  height: 100%;
  width: 100%;
  font-size: 1.3em;
  border: 2px solid #3c3a3a;
  outline: none;
  color: #aaa;
  font-family: 'Fira Code Light';
  background-color: transparent;
}
.granularity-button.selected {
  border: 2px solid #3c3a3a;
  background-color: #2c2a2a;
  font-family: 'Fira Code Bold';
  color: #fff;
}
input[data-edit-invested] {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  border-bottom: 1px solid #fff;
  font-size: 1em;
  width: 5em;
  font-weight: bold;
}
.dashboard-button {
  color: #fff;
  padding: 1em 2em;
  background-color: #228B22;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 2em;
}
.last-synced {
  font-family: 'Fira Code Light';
  color: #aaa;
}
.sync-message {
  font-size: 92%;
  text-align: center;
}
#asset-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: stretch;
  align-items: stretch;
}
.asset-box {
  padding: 0px;
}
.asset-box input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 5px;
}
.asset-box button {
  padding: 15px;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
}
button[data-add-coin] {
  border: 2px solid #228B22;
  background-color: #2c2a2a;
  font-size: 1.3em;
  height: 100%;
  width: 100%;
}
button[data-logout] {
  font-size: 1em;
  width: 100%;
  height: 100%;
  background-color: #962323;
}
button[data-add-coin]:hover {
  background-color: #228B22;
}
button[data-delete-coin] {
  border: 2px solid #962323;
  background-color: transparent;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 3px;
  font-size: 1em;
}
button[data-delete-coin]:hover {
  background-color: #962323;
}
.error-msg {
  color: #962323;
}
input[data-edit-holding-symbol] {
  font-size: 1.5em;
}
input[data-edit-holding-quantity] {
  font-size: 2em;
}
.asset-cash-value {
  font-size: 2em;
  font-weight: lighter;
  color: #228B22;
}
.asset-cash-price {
  color: #aaa;
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 100%;
  }
  .console-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
      "granularity-minute granularity-hour granularity-day"
      "total invested return"
      "history history performance"
      "history history performance-chart"
      "history history allocation"
      "user-info sync logout";
  }
  #asset-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
  }
  .at-form {
    zoom: 100%;
  }
  .dashboard-button {
    font-size: 1em;
  }
  option {
    font-size: 1em;
  }
  .granularity.minute,
  .granularity.day {
    margin: initial;
  }
}
@media screen and (min-width: 1280px) {
  #asset-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
  }
  .card-box-inner {
    padding-left: 2em;
  }
  .granularity-button {
    font-size: 1.2em;
  }
  input[data-edit-holding-symbol] {
    font-size: 1em;
  }
}
@media screen and (min-width: 1600px) {
  #asset-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}
