/* CSS declarations go here */
html,
body {
  width: 100%;
  max-width: 100%;
  zoom: 1;
  margin: 0;
}
body {
  background-color: #2c2a2a;
  color: #fff;
  padding: 10px;
  font-family: Helvetica;
  width: calc(100% - 20px);
}
.console-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "total"
    "invested"
    "return"
    "performance"
    "allocation"
    "history";
  grid-gap: 10px;
  grid-row-gap: 10px;
  justify-content: stretch;
  align-items: stretch;
}
.console-grid > div {
  overflow: hidden;
  border-radius: 5px;
}
.card-box {
  height: 200px;
  display: grid;
  border-radius: 5px;
  background-color: #3c3a3a;
  position: relative;
}
.card-box > * {
  margin: auto;
}

.card-box-title {
  color: #aaa;
  font-weight: lighter;
}
.card-box-content {
  font-size: 3em;
  color: #fff;
  font-weight: bold;
}

.total {
  grid-area: total;
}
.invested {
  grid-area: invested;
}
.return {
  grid-area: return;
}
.performance {
  grid-area: performance;
}
.allocation {
  grid-area: allocation;
}
.history {
  grid-area: history;
}

input[data-edit-invested] {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1em;
  width: 5em;
  font-weight: bold;
}
@media screen and (min-width: 1280px) {
  .console-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-template-areas:
      "total invested return"
      "history history performance"
      "history history allocation"
      "history history allocation";
  }
}


#asset-grid {
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 1280px) {
  #asset-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}
@media screen and (min-width: 1600px) {
  #asset-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}
.asset-box {
  grid-column: span 1;
  padding: 0px;
}
.asset-box input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 5px;
  font-size: 20px;
}
.asset-box button {
  padding: 15px;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
}
button[data-add-coin] {
  background-color: #228B22;
  font-size: 1.3em;
}
button[data-delete-coin] {
  background-color: #962323;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 3px;
}
input[data-edit-holding-quantity] {
  font-size: 2em;
}
.card-box-small-content {
  width: 20px;
}
.card-box-small-content > span {
  padding-left: 5px;
}
.asset-cash-value {
  font-size: 2em;
  font-weight: lighter;
  color: #228B22;
}
.asset-cash-price {
  color: #aaa;
}
